In [122]:
import pandas as pd
import numpy as np

pd.__version__

'2.3.1'

In [123]:
df = pd.read_csv("/workspaces/ml-zoomcamp-hw/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [124]:
len(df)

9704

In [125]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [126]:
df_asian_cars = df[df['origin'] == "Asia"]
df_asian_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [127]:
df_asian_cars['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [128]:
median_hp = df['horsepower'].median()
median_hp

np.float64(149.0)

In [129]:
df['horsepower'].value_counts()

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [130]:
most_common_hp = df['horsepower'].mode()
most_common_hp

0    152.0
Name: horsepower, dtype: float64

In [131]:
new_df = df
new_df['horsepower'] = new_df['horsepower'].fillna(new_df['horsepower'].mode()[0])
new_df['horsepower'].value_counts()

horsepower
152.0    850
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [132]:
new_median_hp = new_df['horsepower'].median()
new_median_hp

np.float64(152.0)

In [133]:
X= df_asian_cars[['vehicle_weight','model_year']].head(7).to_numpy()
X

xtx = X.T @ X
xtx_inv = np.linalg.inv(xtx)

In [134]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [136]:
w = xtx_inv @ X.T @ y
w
sum(w)

np.float64(0.5187709081074016)