In [38]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [39]:
data = pd.read_csv("/workspaces/ml-zoomcamp-hw/02-Car-Prediction/data.csv")
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [40]:
data.columns = data.columns.str.lower().str.replace(' ', '_')
data.columns

Index(['make', 'model', 'year', 'engine_fuel_type', 'engine_hp',
       'engine_cylinders', 'transmission_type', 'driven_wheels',
       'number_of_doors', 'market_category', 'vehicle_size', 'vehicle_style',
       'highway_mpg', 'city_mpg', 'popularity', 'msrp'],
      dtype='object')

In [41]:
data.dtypes

make                  object
model                 object
year                   int64
engine_fuel_type      object
engine_hp            float64
engine_cylinders     float64
transmission_type     object
driven_wheels         object
number_of_doors      float64
market_category       object
vehicle_size          object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
popularity             int64
msrp                   int64
dtype: object

In [42]:
strings = list(data.dtypes[data.dtypes == 'object'].index)
strings

['make',
 'model',
 'engine_fuel_type',
 'transmission_type',
 'driven_wheels',
 'market_category',
 'vehicle_size',
 'vehicle_style']

In [43]:
for col in strings:
    data[col] = data[col].str.lower().str.replace(' ', '_')

In [44]:
data.head()

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,bmw,1_series_m,2011,premium_unleaded_(required),335.0,6.0,manual,rear_wheel_drive,2.0,"factory_tuner,luxury,high-performance",compact,coupe,26,19,3916,46135
1,bmw,1_series,2011,premium_unleaded_(required),300.0,6.0,manual,rear_wheel_drive,2.0,"luxury,performance",compact,convertible,28,19,3916,40650
2,bmw,1_series,2011,premium_unleaded_(required),300.0,6.0,manual,rear_wheel_drive,2.0,"luxury,high-performance",compact,coupe,28,20,3916,36350
3,bmw,1_series,2011,premium_unleaded_(required),230.0,6.0,manual,rear_wheel_drive,2.0,"luxury,performance",compact,coupe,28,18,3916,29450
4,bmw,1_series,2011,premium_unleaded_(required),230.0,6.0,manual,rear_wheel_drive,2.0,luxury,compact,convertible,28,18,3916,34500

### Exploratory Data Analysis

In [51]:
data.describe()

,year,engine_hp,engine_cylinders,number_of_doors,highway_mpg,city_mpg,popularity,msrp
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [53]:
for col in data.columns:
    print(col)
    print(data[col].unique()[:5])
    print(data[col].nunique())
    print(data[col].describe())

make
['bmw' 'audi' 'fiat' 'mercedes-benz' 'chrysler']
48
count         11914
unique           48
top       chevrolet
freq           1123
Name: make, dtype: object
model
['1_series_m' '1_series' '100' '124_spider' '190-class']
914
count              11914
unique               914
top       silverado_1500
freq                 156
Name: model, dtype: object
year
[2011 2012 2013 1992 1993]
28
count    11914.000000
mean      2010.384338
std          7.579740
min       1990.000000
25%       2007.000000
50%       2015.000000
75%       2016.000000
max       2017.000000
Name: year, dtype: float64
engine_fuel_type
['premium_unleaded_(required)' 'regular_unleaded'
 'premium_unleaded_(recommended)' 'flex-fuel_(unleaded/e85)' 'diesel']
10
count                11911
unique                  10
top       regular_unleaded
freq                  7172
Name: engine_fuel_type, dtype: object
engine_hp
[335. 300. 230. 320. 172.]
356
count    11845.00000
mean       249.38607
std        109.19187
min         55.00000
25%        170.00000
50%        227.00000
75%        300.00000
max       1001.00000
Name: engine_hp, dtype: float64
engine_cylinders
[ 6.  4.  5.  8. 12.]
9
count    11884.000000
mean         5.628829
std          1.780559
min          0.000000
25%          4.000000
50%          6.000000
75%          6.000000
max         16.000000
Name: engine_cylinders, dtype: float64
transmission_type
['manual' 'automatic' 'automated_manual' 'direct_drive' 'unknown']
5
count         11914
unique            5
top       automatic
freq           8266
Name: transmission_type, dtype: object
driven_wheels
['rear_wheel_drive' 'front_wheel_drive' 'all_wheel_drive'
 'four_wheel_drive']
4
count                 11914
unique                    4
top       front_wheel_drive
freq                   4787
Name: driven_wheels, dtype: object
number_of_doors
[ 2.  4.  3. nan]
3
count    11908.000000
mean         3.436093
std          0.881315
min          2.000000
25%          2.000000
50%          4.000000
75%          4.000000
max          4.000000
Name: number_of_doors, dtype: float64
market_category
['factory_tuner,luxury,high-performance' 'luxury,performance'
 'luxury,high-performance' 'luxury' 'performance']
71
count          8172
unique           71
top       crossover
freq           1110
Name: market_category, dtype: object
vehicle_size
['compact' 'midsize' 'large']
3
count       11914
unique          3
top       compact
freq         4764
Name: vehicle_size, dtype: object
vehicle_style
['coupe' 'convertible' 'sedan' 'wagon' '4dr_hatchback']
16
count     11914
unique       16
top       sedan
freq       3048
Name: vehicle_style, dtype: object
highway_mpg
[26 28 27 25 24]
59
count    11914.000000
mean        26.637485
std          8.863001
min         12.000000
25%         22.000000
50%         26.000000
75%         30.000000
max        354.000000
Name: highway_mpg, dtype: float64
city_mpg
[19 20 18 17 16]
69
count    11914.000000
mean        19.733255
std          8.987798
min          7.000000
25%         16.000000
50%         18.000000
75%         22.000000
max        137.000000
Name: city_mpg, dtype: float64
popularity
[3916 3105  819  617 1013]
48
count    11914.000000
mean      1554.911197
std       1441.855347
min          2.000000
25%        549.000000
50%       1385.000000
75%       2009.000000
max       5657.000000
Name: popularity, dtype: float64
msrp
[46135 40650 36350 29450 34500]
6049
count    1.191400e+04
mean     4.059474e+04
std      6.010910e+04
min      2.000000e+03
25%      2.100000e+04
50%      2.999500e+04
75%      4.223125e+04
max      2.065902e+06
Name: msrp, dtype: float64